<h2>{{firstName + " " + middleName + " " + lastName}}</h2>
<p>I am a Hobbyist programmer, using 2 terms of knowledge from Red River College's Business Information Technology course.
     I learned syntax in c#, Java, JavaScript, as well as some OOP techniques. 
     To the right, you will see a sampling of work I have done - some programs I had built for myself showing proficiency and 
     continued learning in NodeJS, Angular, Jade (now called Pug), TypeScript as well as raw HTML, CSS, and JavaScript as well as some 
     of my previous work experience, showing a willingness to work hard at difficult jobs.
</p>
<img />