<div>
    <h3>{{heading}}</h3>
    <h6>{{workType}}</h6>
    <svg fill="#000000" height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 330 330" xml:space="preserve">
    <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
        c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
        s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
    </svg>
</div>
<span>
    <p>
        My most recent, and most difficult to date, project was this piece of image conversion software.
        Built in Angular 19, I had many different needs to consider. My stakeholder needed a piece of software that would let her convert regular images of clip art 
        that she had found into scalable vector graphics (.svg). While there were already tools out there that could perform this task, I thought I would also 
        try figuring this problem out.
    </p>
    <br/>
    <br/>
    <p>
        When considering the framework to use, I wanted to use a reasonably modern front-end framework so I could learn as much relevant knowledge as possible.
        After a bit of research I settled on using Angular, and if necessary, I would support it with an express server for image processing. I had to weigh the 
        benefits of providing all the code to the front-end, vs supported with a service (either local or remote), which ended up boiling down to how well I could 
        get image processing to work whilst in the constraints of a browser window. In the end, I was able to provide a satisfactory level of performance without 
        server support, so all the functionality is provided to the end user. An additional advantage was that security was much less of a concern. There weren't 
        many vectors for malicious behaviour.
    </p>
    <br/>
	<br/>
	<a [href]="link">Check the service out here!</a>
</span>

<!--
Program made to satisfy a need for image conversion for use with cricut hardware
Program converts a common image format into a scalable vector graphic
Image is selected from the end user's hard drive
Preservation of image quality is not paramount, as it does not translate to the physical object
<g></g> tags of the generated svg are considered image layers which can then be merged with other layers if needed
When merging, the <path></path> tags are transferred to the next/previous <g></g> tag
Layers can be reordered to change how any merges occur
Layers that are deemed unnecessary can be deleted from the final image
Final image can be saved to end user's hard drive
-->