<div>
<h3>{{heading}}</h3>
<h6>{{workType}}</h6>
<svg fill="#000000" height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 330 330" xml:space="preserve">
<path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
	c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
	s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
</svg>
</div>
<span> 
	<p>
		I initially started this project in c#, as a very narrow scoped fuel calculation service. After a few iterations, I settled on <a href="https://nodejs.org/en">Node.js</a> as the architecture 
		to use. Learning to program in javascript was fairly natural to me, having learned a decent amount in the 2 terms of post-secondary i completed. 
		Having began anew, I had started with a relative positioning overlay, and with a rather limited understanding of how iRacing's 
		telemetry was formatted. This program really required a lot of trial and error to find the correct properties in the iRacing API, but I continued on 
		trying new techniques and observing these objects I could not control.
	</p>
	<br/>
	<br/>
	<p>
		Each overlay is a simple, borderless <a href="https://www.electronjs.org/">Electron</a> browser. This made it easy to access remotely if desired, debug using a typical browser and make transparent 
		and clickthrough, which are critical for gaming overlays. At several times during the development of each overlay I would discover some new way of building 
		them and test them. I now consider this project complete, and, with the help of people who know about it, track issues and push improvements. One of the 
		last improvements was switching the stylesheets to use relative sizing, and simply controlling the size of the window it was contained in. This required 
		much less script, held much less error potential, and was much quicker to respond when initializing and resizing windows. I am really happy with how this 
		turned project turned out.
	</p>
	<br/>
	<br/>
	<a [href]="link">Check the code out here!</a>
</span>