@keyframes fadeIn {
    0% {
        visibility:hidden;
        opacity: 0;
    }
    100% {
        visibility:visible;
        opacity: 1;
    }
}
app-about-me{
    max-width: 465px;
    min-width: 300px;
    padding:1px;
    display:inline-block;
    animation-name: fadeIn;
    animation-duration: 2s;
    border-right-color:#808888;
    border-right-width: 3px;
    border-right-style: ridge;
    border-bottom-color: #808888;
    border-bottom-width: 2px;
    border-bottom-style:ridge;
    height:fit-content;
    flex-grow: 1;
    flex-shrink:1;
    margin-left:auto;
    margin-right:auto;
}
app-work-experience{
    padding:1px;
    flex-grow:1;
    flex-shrink:1;
    display: inline-block;
    animation-name:fadeIn;
    animation-duration:2s;
    min-width: 300px;
    width:400px;
}
main{
    display:flex;
    flex-wrap: wrap;
}