
app-img-convert{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 1px 0px 0px 1px #606666;
    height: 50px;
    overflow: hidden;
}
app-overlays{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 1px 0px 0px 1px #606666;
    height: 50px;
    overflow: hidden;
}
app-woodland-supply{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 1px 0px 0px 1px #606666;
    height: 50px;
    overflow: hidden;
}
app-dewitt-brothers-foundations{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 1px 0px 0px 1px #606666, 1px 2px 2px 0px;
    height: 50px;
    overflow: hidden;
}
h2{
    text-align: center;
}